<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
      <link rel="shortcut icon" href="#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
      <style>
        div#loading {
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: none;
            background: rgba(255, 255, 255, .8) url(/static/gif/loader.gif)  60% 50% no-repeat;
    }

      </style>
  </head>

  <body>
  <div class="container body" id="loading"></div>
  <div class="container body" id="basecontent">
    <div class="main_container">
   <div class="x_content" >
     </br>
     </br></br>
     </br>
     </br>

    <form style="border:1px solid black;padding: 50px;" method="POST" id="mvbargen">

    <div class="form-group row">
        <label for="inputurl" class="col-sm-2 col-form-label">Enter YouTube Video URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputurl" name="inputurl" placeholder="Enter YouTube Video URL">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" >Generate Movie Barcode</button>
        </div>
    </div>
    </form>
   </div>
    </div>
      <div class="x_content" id="content">
          <div id="vidcontent">


          </div>
          <div id="imgcontent">

          </div>

          </br>
          </br>
          </br>
          </br>
      </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>